##################################################################################
# Contains all of the customizations for BitBot and the Poloniex API credentials #
##################################################################################

[api_authentication]
# User account API tokens provided by Poloniex
api_key=API_KEY
api_secret=API_SECRET

[bitbot_parameters]

# Disables selling/buying for but will continue to act as though buy/sell orders are occurring. Use for testing a new policy.
testing_mode=True

# Time interval in which the ticker price is checked and a policy action is made. Time in seconds (Decimal).
action_interval=60

# Specifies log location
bitbot_log=./log/bitbot.log

# Specifies which policy to load and use. Use the package name and the file name without the .py'. The policy
# file must have a class with the same name as the file and must implement the PolicyTemplate class.
# (i.e. policy.myCustomPolicy)
policy_file=policy.ZonePolicy

# The cryptocurrency to watch
crypto_coin=XRP

# Enables the printer thread to control the screen and display information about the bots actions.
enable_visual_mode=False

# Sets the immediateOrCancel order option. An immediate-or-cancel order can be partially or completely filled, but any portion of
# the order that cannot be filled immediately will be canceled rather than left on the order book. Setting this to true will reduce
# time spent waiting for an order to clear but is subject to higher trading fees (0.2% versus the usual 0.1%).
use_immediate_or_cancel_orders=False

# If the user wishes to exit the program gracefully, this option is used to determine whether the Trader should
# sell the coin it watching before exiting. (If watching XRP and this is set to true, then before exiting, the
# trader will sell the XRP for USDT then quit.
sell_on_exit=False

# Indicates the period measurement used to calculate the SMA/Bollinger bands (i.e. 20-day, 50-day, 20-hourly)
measurement_period=20

# Indicates the measurement unit used to calculate the SMA/Bollinger bands (DAYS, HOURS, MINUTES)
period_unit=MINUTES

# Indicates the candlestick period in seconds (300, 900, 1800, 7200, 14400, and 86400)
candlestick_period=300

[policy_parameters]
#### BOLLINGER POLICY PARAMETERS ####
# Protects from selling at too much of a loss if price drops below buy price. Percent difference in current price from buy price (Float).
sell_safety_threshold=0.6

# How close to the lower band the price needs to be to buy. Percent difference between lower band and current price (Float).
lower_band_buy_proximity=100.2

# The minimum slope of the lower band required to recommend a buy order.
lower_band_SMA_minimum_gradient=0.05

# SMA and upperband minimum buy gradient required to recommend buy order.
upper_band_SMA_minimum_gradient=0.3

### ZONE POLICY PARAMETERS ###
# The red zone height is calculated by taking the standard deviation of the price history and multiplying it by the value below.
# If the average price is 7 and the standard deviation is 2, then the height of the red zone will be given a red zone height of
# 1.5 will be 3. The red zone will begin at the average price plus the stand deviation (7+2=9) and the top will be 9+3=12. The 
# lower red zone will be 7-2=5 and the floor will be 5-3=2.
red_zone_height=1.5
